body {
    text-align: center;
    background-color: black;
    color: white;
    font-family: monospace;
    user-select: none;
    overflow-x: hidden;

}

.bgvideo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 110%;
    z-index: -9999;
    opacity: 1%;
  }

  .bgvideo2 {
    position: absolute;
    right: 685px;
    bottom: 0;
    width: 50%;
    height: 110%;
    z-index: -9999;
    opacity: 1%;
    transform: scale(-1, 1);
  }

.box {
    font-size: 23px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: auto;
}

.rate {
    position: absolute;
    left: 44%;
    top: 86%;
}

.rate2 {
    position: absolute;
    left: 31%;
    top: 89%;
}

.trail {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

.trail-char {
    position: fixed;
    font-family: monospace;
    font-size: 20px;
    color: white;
    pointer-events: none;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes colorChange {
    0% {
        color: red;
    }
    25% {
        color: blue;
    }
    50% {
        color: green;
    }
    75% {
        color: orange;
    }
    100% {
        color: red;
    }
}

@keyframes flicker {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

pre, .rate, .rate2, div {
    animation: flicker 2s linear infinite;
    animation-delay: 0s;
}

pre, .rate, .rate2, div {
    animation: colorChange 5s linear infinite;
    animation-delay: 0s;
}

@media only screen and (max-width: 768px) {
    pre {
        font-size: 14px;
        text-align: center;
    }

    .box {
        text-align: center;
        font-size: 20px;
        margin: 3px;
    }

    div {
        font-size: 14px;
    }

    .top, pre {
        font-size: 6px;
        margin: 5px;
    }
}
